<html>
    <head>
        <title>Вика Дура!</title>
    </head>
    <body>
        <div>
           <h1><a href="">Вика го тарахться</a><h1>
        <div>
        
        
        <div>
            <p> опубликовано 01.02.2017, 15:10</p>
            <h2><a href=""> Ахахахаххахахаха</a></h2>
            <p> Я тебя люблю !!!</p>
        </div>
        
        <div>
            <p>опублековано 01.02.2017 15:11</p>
            <h2><a href="">Ухахахаха</a></h2>
            <p> Я тебя обманул, я себя люблю только !!!!</p>
        </div>
    </body>
</html>
